{{!-- Main index page with movie images --}}

{{!-- CAROUSEL --}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>New <b>Releases</b></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
          {{#each getNow}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="row">
              {{#each this}}
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <a href="/movie/{{this.id}}">
                      <img src="https://image.tmdb.org/t/p/w342{{this.poster_path}}" class="img-fluid" alt="">
                    </a>
                  </div>
                  <div class="thumb-content">
                    <div class="star-rating">
                      <div class="list-inline">
                        {{this.vote_average}} <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <a href="/movie/{{this.id}}">
                      <h4>{{this.title}}</h4>
                    </a>
                    <p class="movie-date">{{slicedate this.release_date}}</p>
                  </div>
                </div>
              </div>
              {{/each }}
            </div>
          </div>
          {{/each}}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>

{{!-- TOP 10 MOST REVIEWED MOVIES --}}
{{!-- CAROUSEL --}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Top <b>Rated Movies</b></h2>
      <div id="myCarousel-1" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        {{!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel-1" data-slide-to="1"></li>
          <li data-target="#myCarousel-1" data-slide-to="2"></li>
        </ol> --}}
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          {{#each getTop}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="row">
              {{#each this}}
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <a href="/movie/{{this.id}}">
                      <img src="https://image.tmdb.org/t/p/w342{{this.poster_path}}" class="img-fluid" alt="">
                    </a>
                  </div>
                  <div class="thumb-content">
                    <div class="star-rating">
                      <div class="list-inline">
                        {{this.vote_average}} <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <a href="/movie/{{this.id}}">
                      <h4>{{this.title}}</h4>
                    </a>
                    <p class="movie-date">{{slicedate this.release_date}}</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel-1" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel-1" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{{!-- Genres --}}
<section id="genres">
  <h2><b>Genres</b></h2>
  <section class="container-images">
    <div class="genre_div" data-genre="action">
      <img src="/assets/genres/action.jpeg" alt="action" />
      <span class="description">
        <h2><b>Action</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="animation">
      <img src="/assets/genres/animation2.jpeg" alt="animation" />
      <span class="description">
        <h2><b>Animation</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="comedy">
      <img src="/assets/genres/comedy2.jpeg" alt="comedy" />
      <span class="description">
        <h2><b>Comedy</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="drama">
      <img src="/assets/genres/drama.jpeg" alt="drama" />
      <span class="description">
        <h2><b>Drama</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="fantasy">
      <img src="/assets/genres/fantasy.jpeg" alt="fantasy" />
      <span class="description">
        <h2><b>Fantasy</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="horror">
      <img src="/assets/genres/horror.jpeg" alt="horror" />
      <span class="description">
        <h2><b>Horror</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="romance">
      <img src="/assets/genres/romance.jpeg" alt="romance" />
      <span class="description">
        <h2><b>Romance</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="thriller">
      <img src="/assets/genres/thriller.jpeg" alt="thriller" />
      <span class="description">
        <h2><b>Thriller</h2></b>
      </span>
    </div>
    <div class="genre_div" data-genre="crime">
      <img src="/assets/genres/crime.jpeg" alt="crime" />
      <span class="description">
        <h2><b>Crime</h2></b>
      </span>
    </div>
  </section>
</section>