<div class="container" id="wrapper">
      <div class="row">
        <div class="col">
          <!-- <h1>Nevernote</h1> -->
          <h3>Hello, {{currentuser}}</h3>
          <form
            ref="note"
            id="note">
            <textarea id="notearea" cols="60" rows="10" name="note"></textarea>
            <br>
            <button id="post" type="button" class="btn btn-primary">Submit!</button>
          </form>
        </div>
        <div class="col">
          <h3>Displaying Notes from {{currentuser}}:</h3>
        {{#each array}}
        <div class="row">
          <div class="d-flex cards">
              <textarea cols="40" rows="4" class="existingnote" data-textarea={{@index}}>{{this}}</textarea>
              <button data-btn={{@index}} type="button" class="btn btn-danger deletebtn">Delete!</button>
              </div>
              <br>
            </div>
              {{/each}}
          </div>
        </div>
      </div>