<div class="container-fluid ">
    <h2><b>{{username}}'s Profile</b></h2>
    <div class="d-flex justify-content-center">
        <div class="col-md-3 profile-pic-col">
            <div class="row profile-pic-container">
                <img class=" img-fluid profile-pic" src="/{{profile}}">
            </div>
        </div>
    </div>

</div>
</div>
<div class="card">
    <div class="card-body">
        <div class="user-container col-md-8">
            <b>Best movie of all time is:</b> {{fav_movie}}
            <br>
            <br>
            <b>Reasons why:</b> {{intro}}
            <br>
            <br>
            <b>Genres I'm interested in:</b> {{fav_genre}}

        </div>
    </div>
</div>
<div class="card">
    <h5 class="mb-4"><b>Uploaded photos of my favourite scenes</h5></b>
    <div class="row">

        <div class="col vertical-align-center text-right">
            <img class=" img-fluid poster-pic" src="{{poster}}">
        </div>
        <div class="col screenshot-container">
            <div class="row">
                <img class=" img-fluid screenshot-pic" src="/{{screenshot1}}">
            </div>
            <div class="row">
                <img class=" img-fluid screenshot-pic" src="/{{screenshot2}}">
            </div>
        </div>
    </div>
</div>


<div class="row mt-4 d-flex justify-content-center">
    {{{editbutton}}}
    {{!-- KEEP BELOW COMMENTED OUT! SEE profileRouter for button code --}}
    {{!-- {{#if user}}
    <button type="button" class="btn btn-outline-warning edit-profile text-center">Edit Profile</button>
    {{/if}} --}}
</div>
</div>
</div>
</div>
</div>