<div class="container">
    <div class="info-conatiner" data-movieid={{this.movie_id}}>
        <div class="row">
            <div class="poster-container col-3">
                <img src="{{poster}}">
            </div>
            <div class="detail-container col-9">
                <p>Title: {{title}}</p>
                <p>Genres: {{genres}}</p>
                <p>Release Date: {{releaseDate}}</p>
                <p>Overview: {{overview}}</p>
            </div>
        </div>
        <div class="comment-container">
            <h3>User Reviews</h3>
            <div class="text-box">
                <div class="row">
                    <form ref="note" id="note">
                        <textarea id="text-area" cols="60" rows="10" name="note"></textarea>
                        <br>
                        <button id="post" type="button" class="btn btn-primary">SEND</button>
                    </form>
                </div>
            </div>
            <div class="review-container">
                {{#each reviewArr}}
                <div class="review-box" >
                    <p>{{this.review_title}}</p>
                    <p>{{this.rating}}/10</p><br>
                    <p>by {{this.name}}</p>
                    <p>{{this.text}}</p>
                </div>            
                {{/each}}
            </div>
        </div>
    </div>
</div>