<div class="container-fluid search-wrapper mt-3">
    {{#unless wishMovieArr}}
    <h2>Your Watchlist is Empty</h2>
    {{/unless}}

    {{#each wishMovieArr}}
    <div class="row watchlist_card d-flex">
        {{!-- <a href="../movie/{{this.movie_id}}"> --}}
            <div class="poster-container">
                <img class="img-fluid watchlist_poster" width="180px" height="auto"
                    src="https://image.tmdb.org/t/p/w300{{this.poster_path}}">
                <button class="watchlist-liked-btn" data-movieid={{this.api_id}}><i class="fas fa-check"></i></button>
                <button class="watchlist-add-btn hidden" data-movieid={{this.api_id}}><i
                        class="fas fa-plus"></i></button>
            </div>

            {{!--
        </a> --}}
        <div class="movie-info col-9">
            <p class="movie-link">

                <a href="../movie/{{this.api_id}}">
                    {{math @index "+" 1}}. {{this.title}} ({{slicedate this.release_date}})
                </a>
            </p>
            <p>
                <img style="width: 30px;" src="/assets/sprite-yellow-star.jpg"></img>
                {{this.vote_average}}
            </p>
            <p><strong style="font-size: 20px">Genres:</strong><br><br> {{genreconverter this.genres}}</p>
            <p><strong style="font-size: 20px">Overview:</strong><br><br> {{this.overview}}</p>
        </div>
    </div>
    {{/each}}


</div>