<div class="watchlist-container container-fluid search-wrapper mt-3">

    {{#if wishMovieArr}}
    <h2>Your <b>Watchlist</b></h2>
    {{else}}
    <h2>Your Watchlist <b>is Empty</b></h2>
    {{/if}}

    {{#each wishMovieArr}}
    <div class="row watchlist_card d-flex">
        <div class="col-4">
            <div class="poster-container">
                <a href="/movie/{{this.api_id}}">
                    <img class="img-fluid watchlist_poster" width="180px" height="auto"
                        src="https://image.tmdb.org/t/p/w300{{this.poster_path}}">
                </a>
                <div class="row d-flex justify-content-center">
                    <button class="mt-3 watchlist-del-btn" data-movieid={{this.api_id}}>
                        <span>WATCHLIST</span><i class="pl-1 fas fa-times" data-movieid={{this.api_id}}></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="movie-info col-8">
            <p class="movie-link">
                <a href="../movie/{{this.api_id}}">
                    {{math @index "+" 1}}. {{this.title}} ({{slicedate this.release_date}})
                </a>
            </p>
            <p class="mt-4">
                {{this.vote_average}}
                <i class="fas fa-star"></i>
            </p>
            <p><b style="font-size: 15px">Genres:</b><br><br> {{genreconverter this.genres}}</p>
            <p><b style="font-size: 15px">Overview:</b><br><br> {{this.overview}}</p>
        </div>
    </div>
    {{/each}}


</div>