<div class="container-fluid search-wrapper mt-3">
    {{#each wishlistArr}}
    <div class="row wishlist_card mb-3">
        <div class="col-2">
            <a href="../movie/{{this.id}}">
                <img class="img-fluid wishlist_poster" width="154" height="auto"
                    src="https://image.tmdb.org/t/p/w154{{this.poster_path}}">
            </a>
        </div>
        <div class="col-10">
            <p>
                <a href="../movie/{{this.id}}">
                    {{math @index "+" 1}}. {{this.title}} ({{slicedate this.release_date}})
                </a>
            </p>
            <p><img style="width: 13px;" src="/assets/sprite-yellow-star.jpg"></img>
                {{this.vote_average}}
            </p>
            <p>{{genreconverter this.genre_ids}}</p>
            <p>{{this.overview}}</p>
        </div>
    </div>
    {{/each}}
</div>